<!-- 
<div class="container" style="padding-top:40px;">  
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card mx-4">  
          <div class="card-body p-4"> 
             <!--  {{signIn.value | json}}  -->  
     <!--       <form #signIn = "ngForm" >  
              <div class="form-group">
              <h1 style="text-align:center">Register</h1>    
              
                 
              <div class="input-group mb-3">  
                    <input type="text" class="form-control" placeholder="Loginname"
                            name="loginNameDisplay"
                            required
                            [(ngModel)]="signupModelForm.loginName"
                            #loginName = "ngModel"
                            [class.is-invalid]="loginName.invalid && loginName.touched"
                            pattern="[a-zA-Z ]*"
                            >  
              </div>  
              <div class="input-group mb-3">  
                    <input type="password" class="form-control" placeholder="Password"  
                           name="passwordDisplay"
                           required  
                           [(ngModel)]="signupModelForm.password"
                           #password = "ngModel"
                           [class.is-invalid]="password.invalid && password.touched"
                    >  
              </div>  
              <div class="input-group mb-4">  
                    <input type="text" class="form-control" placeholder="Email" 
                            name="emailDisplay"
                            required  
                            [(ngModel)]="signupModelForm.email"
                            #email = "ngModel"
                            [class.is-invalid]="email.invalid && email.touched"
                    >  
              </div>  

              <div class="input-group mb-4">  
                    <select class="custom-select"
                            name="userTypeDisplay"
                            required
                            [(ngModel)]="signupModelForm.userType"
                            #usertypeData="ngModel"
                            [class.is-invalid]="usertypeData.invalid && usertypeData.touched"
                    >
                            <option value="">Select </option>
                            <option *ngFor="let i of userType">{{i}} </option>

                    </select> 
              </div>  

              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="Contact No"     
                        name="contactDisplay"
                        required  
                        [(ngModel)]="signupModelForm.contactNumber"
                        #contact = "ngModel"
                        [class.is-invalid]="contact.invalid && contact.touched"
                        pattern="[0-9]*$"
                         >
            
            
            </div>  
            
              <div class="input-group mb-4">  
                <input type="text" class="form-control" placeholder="Address"  
                        name="addressDisplay"
                        required  
                        [(ngModel)]="signupModelForm.address"
                        #adress = "ngModel"
                        [class.is-invalid]="adress.invalid && adress.touched"
                        (click)="tooltip.toggle()"
                        aria-label="Show/Hide tooltip on the button at the end of this section"
          
                >  
              </div>  

              
              <button type="submit"  [disabled] = "signIn.form.invalid" class="btn btn-block btn-success">Sign Up</button>  
            </div>
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  --> 