
<div  style="width:100%"> 


<div>
    <table style="width : 100%; margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px;">
            <tr>
                    <td >
                            <img src="/assets/images/newdata/Java_1.PNG" height="200" width="350">
                    </td>

                    <td >
                        <img src="/assets/images/newdata/Java_2.PNG" height="200" width="350">
                    </td>

                    <td >
                        <img src="/assets/images/newdata/Java_3.PNG" height="200" width="350">
                    </td>

                    
                  
            </tr> 

    </table>

</div>


<div>
    <table style="width : 100%; margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px;">
            <tr>
                    <td >
                            <img src="/assets/images/newdata/Node_1.PNG" height="200" width="350">
                    </td>

                    <td >
                        <img src="/assets/images/newdata/Node_2.PNG" height="200" width="350">
                    </td>

                    <td >
                        <img src="/assets/images/newdata/Node_3.PNG" height="200" width="350">
                    </td>
 
            </tr> 

    </table>

</div>




<div>
    <table style="width : 100%; margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px;">
            <tr>
                    <td >
                        <img src="/assets/images/newdata/Angular_cli.PNG" height="200" width="350">
                    </td>

                    <td >
                        <img src="/assets/images/newdata/Angular_cli.PNG" height="200" width="350">
                    </td>

                    <td >
                        <img src="/assets/images/newdata/Angular_8.PNG" height="200" width="350">
                    </td>

                    
            </tr> 

    </table>

</div>

</div>