
<div class="home_back_ground container" style="  "  >



  
  
<div class="slidersec">
  <div class="sliderimage">
      <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/trainingImages/set3/python.PNG" alt="Random first slide"   height="350">
            </div>
          </ng-template>

         <!--  <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/trainingImages/set3/aws1.png" alt="Random third slide"  height="350"  >
            </div>
          </ng-template>-->
<!-- 
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/trainingImages/set3/mean-image.png" alt="Random third slide"  height="350"  >
            </div>
          </ng-template> -->

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/trainingImages/set3/data-science.PNG" alt="Random second slide"  height="350"  >
            </div>
          </ng-template>

          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/trainingImages/set3/git.PNG" alt="Random third slide"  height="350" >
            </div>

          
          </ng-template>
        </ngb-carousel> 
       
  </div>  
  </div>
 
 <div>
   <br/>
 </div>

 <div> 
  <table class="table">
   <br/>
   <tr style="border-top:5px solid black">

   </tr>
   <tr><td class="text-center">
     
     <span style="font-size: 32px;">  Upcoming </span> <strong style="font-size: 32px;color:green;font-weight:bold"> Demo </strong></td></tr>
   
   
   </table> 

</div>
    <app-demo-parent></app-demo-parent>
    
</div>
  
 <div> 
   <table class="table">
    
    <tr><td class="text-center">
      
      <span style="font-size: 32px;">  Trending </span> <strong style="font-size: 32px;color:green;font-weight:bold"> Cources </strong></td></tr>
    
    
    </table> 

</div>

<div style="width :100%;" >

      <table class="courcesTabLeft">
          <tr>
              <td> 
                <img src="/assets/trainingImages/set4/DataScience.jpg" alt="Data Science" height= 150    class="zoom"    >
              </td>

          </tr>

          <br/>
          <tr>
            <td class="tdCourcesTab">
              Data Science
            </td>
          </tr>
          <tr>
            <td class="tdCourcesStar">
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
              <i class="fa fa-star text-warning" aria-hidden="true"></i>
            </td>
          </tr>

         
          
         
         
      </table>

      <table class="courcesTabLeft">
        <tr>
            <td> 
              <img src="/assets/trainingImages/set4/python.jpg" alt="Python"   class="zoom" >
            </td>

        </tr>

        <br/>
        <tr>
          <td class="tdCourcesTab">
            Python
          </td>
        </tr>
        <tr>
          <td class="tdCourcesStar">
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
            <i class="fa fa-star text-warning" aria-hidden="true"></i>
          </td>
        </tr>

   
    </table>

    <table class="courcesTabLeft">
      <tr>
          <td> 
            <img src="/assets/trainingImages/set4/Angular.jpg" alt="Angular"   class="zoom">
          </td>

      </tr>
      <br/>
      <tr>
        <td class="tdCourcesTab">
          Angular
        </td>
      </tr>
      <tr>
        <td class="tdCourcesStar">
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
        </td>
      </tr>

   
  </table>


  <table class="courcesTabLeft">
    <tr>
        <td> 
          <img src="/assets/trainingImages/set4/Linux.jpg" alt="Linux"   class="zoom" >
        </td>

    </tr>

    <br/>
    <tr>
      <td class="tdCourcesTab">
        Linux
      </td>
    </tr>
    <tr>
      <td class="tdCourcesStar">
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
      </td>
    </tr>

    
</table>
<table class="courcesTabLeft">
  <tr>
      <td> 
        <img src="/assets/trainingImages/set4/Java.jpg" alt="Java"   class="zoom" >
      </td>

  </tr>

  <br/>
  <tr>
    <td class="tdCourcesTab">
      Java+Sprinng
    </td>
  </tr>
  <tr>
    <td class="tdCourcesStar">
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
    </td>
  </tr>
<br/>
   
</table>
 

</div>


 <div style="margin-top:  5px; margin-bottom:5px;position:fixed">
<br/>
 </div>

 <div style="width :100%;" >

  <table class="courcesTabLeft">
      <tr>
          <td> 
            <img src="/assets/trainingImages/set4/amazon.jpg" alt="Data Science" height= 150    class="zoom"    >
          </td>

      </tr>

      <br/>
      <tr>
        <td class="tdCourcesTab">
          AWS Certification
        </td>
      </tr>
      <tr>
        <td class="tdCourcesStar">
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
          <i class="fa fa-star text-warning" aria-hidden="true"></i>
        </td>
      </tr>

     
      
     
     
  </table>

  <table class="courcesTabLeft">
    <tr>
        <td> 
          <img src="/assets/trainingImages/set4/Devops.png" alt="Python"   class="zoom" >
        </td>

    </tr>

    <br/>
    <tr>
      <td class="tdCourcesTab">
        Devops
      </td>
    </tr>
    <tr>
      <td class="tdCourcesStar">
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
      </td>
    </tr>


</table>

<table class="courcesTabLeft">
  <tr>
      <td> 
        <img src="/assets/trainingImages/set4/DataScienceAnalyst.png" alt="Angular"   class="zoom">
      </td>

  </tr>
  <br/>
  <tr>
    <td class="tdCourcesTab">
     Data Science Analyst
    </td>
  </tr>
  <tr>
    <td class="tdCourcesStar">
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
      <i class="fa fa-star text-warning" aria-hidden="true"></i>
    </td>
  </tr>


</table>


<table class="courcesTabLeft">
<tr>
    <td> 
      <img src="/assets/trainingImages/set4/redHat.png" alt="Linux"   class="zoom" >
    </td>

</tr>

<br/>
<tr>
  <td class="tdCourcesTab">
   Red Hat
  </td>
</tr>
<tr>
  <td class="tdCourcesStar">
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
    <i class="fa fa-star text-warning" aria-hidden="true"></i>
  </td>
</tr>


</table>
<table class="courcesTabLeft">
<tr>
  <td> 
    <img src="/assets/trainingImages/set4/coreJava.png" alt="Java"   class="zoom" >
  </td>

</tr>

<br/>
<tr>
<td class="tdCourcesTab">
  Core Java
</td>
</tr>
<tr>
<td class="tdCourcesStar">
  <i class="fa fa-star text-warning" aria-hidden="true"></i>
  <i class="fa fa-star text-warning" aria-hidden="true"></i>
  <i class="fa fa-star text-warning" aria-hidden="true"></i>
  <i class="fa fa-star text-warning" aria-hidden="true"></i>
  <i class="fa fa-star text-warning" aria-hidden="true"></i>
</td>
</tr>


</table>


</div>


