 

  

<div style="padding-top:15px;border-bottom:5px solid lightblue" class="container">

    <table style="background-color: #FAFAFA;width: 100%;" class="  ">
        <thead>

            <tr> 
               

                 
               
             
        </tr>
            <tr>
                <td style="font-weight: bold;color:red;width : 25%;">
                    {{dList.demoName}}
                </td>
                <td style="width : 25%;">
                </td>
               
               
            </tr>

            <tr >
                <td style="font-weight: bold;width : 25%;">
                    Demo Date : 
                </td>
                <td style="width : 25%;">
                    {{dList.demoDate}}
                 </td>

                 <td style="width : 25%;">
                </td>

                <td style="width : 25%;">
                    
                    <button type="button" class="btn btn-sm" 
                    style="background-color: green;color:white;font-weight: bold;"
                            (click)="openDialog()">
                           Register for Demo
                     </button>
              
               
            </td>

                
            </tr>



            <tr >
                <td style="font-weight: bold;width : 25%;">
                    Demo Mode : 
                </td>
                <td style="width : 25%;">
                    {{dList.demoMode}}
                 </td>

                 <td style="font-weight: bold;width : 25%;">
                    Demo Fees : 
                </td>
                <td style="width : 25%;">
                    {{dList.demoFees}}
                 </td>
            </tr> 

              
            <tr>
                <td style="font-weight: bold;width : 25%;">
                  Faculty
                 </td>
                <td style="width : 25%;">
                    {{dList.demoFaculty}}
                 </td>
                 <td style="font-weight: bold;width : 25%;">
                    Demo Location : 
                </td>
                <td style="width : 25%;">
                    {{dList.demoLocation}}
                 </td>

                 
                 
                
            </tr>
                <tr>
                   
                </tr>
                <br/>
        </thead>
    </table>
</div>

