/* You can add global styles to this file, and also import other style files */

 @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; 
 /*@import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
.fa{
    font-size: 15px !important;
}

fa fa-edit{
    font-size: 15px !important;
}

nav-item active
{
    font-weight: bold;
}
html, body { height: 100%;overflow-y: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-invalid .mat-radio-label-content{
    color:#f44336;
}
.mat-form-field-invalid .mat-radio-outer-circle{
    border-color:#f44336!important;
}

.example-tooltip-black{
    background: black;
}

.text-align-left{
    text-align: left;
}
.main-panel{
    background-color: gold;

}

.custom-panel {
   

}

.top-border{
    border-top:  4px solid #009cdd;
}

.top_container{padding: 10px 0 0 0; background: #fff;}
.logo_block{margin-bottom: 0px;}


@media (min-width: 1024px) {
    .navbar-inner {
        padding: 0 !important;
    }
    .navbar .brand {
        display: none!important;
    }
    .home .row-fluid .span8.home-courses {width: 70%; margin-left: 0;}
}




.top-logos img{float: right; margin-left: 10px;}

  
.logo_back_ground{
     
    background-image: url("/assets/learnIndia/background-13.PNG");
  }