
 <div class="container">
     <tr>
         <td style="background-color: #E0E0F8;color:red; padding-right:15px;">
             
                <a mat-button routerLink="/learnAdmin/addDemo" routerLinkActive="mat-accent">Add Demo</a>
               
         </td>

         <td style="background-color: #E0E0F8;color:red; padding-right:15px;">
             
            <a mat-button routerLink="/learnAdmin/manageDemo" routerLinkActive="mat-accent">Manage Demo</a>
           
     </td>

     <td style="background-color: #E0E0F8;color:red; padding-right:15px;">
             
        <a mat-button routerLink="/learnAdmin/manageEnq" routerLinkActive="mat-accent">Enquiry</a>
       
 </td>

     
     </tr>
 </div>
<router-outlet></router-outlet>