 
<div class="container" style="padding-top:40px;">  
        <div class="row">  
          <div class="col-md-6 mx-auto">  
            <div class="card mx-4">  
              <div class="card-body p-4"> 
            <!--   {{logIn.value | json}} -->    
                <form #logIn = "ngForm" >  
                  <div class="form-group">
                  <h1 style="text-align:center">Log In</h1>    
                  
                    <div class="input-group mb-3">   
                        <input type="text" class="form-control" placeholder="Username"  
                                name="userNameDisplay"
                                required
                                [(ngModel)]="loginModelForm.userName"
                                #userName="ngModel"
                                [class.is-invalid]="userName.invalid && userName.touched"
                                pattern="[a-zA-Z ]*"  
                                > 
                                <span *ngIf="userName.invalid && userName.touched" class= "input-group-addon">
                                    <i class="fa fa-fw fa-info-circle text-danger " style="height:10px;" aria-hidden="true" ></i> </span>
                                
                    </div>  
                    
                  
                  <div class="input-group mb-3">  
                        <input type="password" class="form-control" placeholder="Password"  
                               name="passwordDisplay"
                               required  
                               [(ngModel)]="loginModelForm.password"
                               #password = "ngModel"
                               [class.is-invalid]="password.invalid && password.touched"
                        >  
                  </div>  
                   
    
                  
                  <button type="submit" (click)="login()"  
                  
                  [disabled] = "logIn.form.invalid"  class="btn btn-block btn-success">Log In</button>  

                </div>
                </form>  
              </div>  
            </div>  
          </div>  
        </div>  
      </div>  